<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evtest12">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="evtest1.2.1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".otp_new"></activity>
        <activity android:name=".Profile_frag" />
        <activity
            android:name=".nav_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Payment_tran" />
        <activity android:name=".Pay_tran" />
        <activity android:name=".otp_tran" />
        <activity android:name=".Stop" />
        <activity android:name=".Start" />
        <activity android:name=".test2" />
        <activity android:name=".MailReg" />
        <activity android:name=".timeSlot1" />
        <activity
            android:name=".SlotBook"
            android:screenOrientation="portrait" />
        <activity android:name=".registration" />
        <activity android:name=".Payment" />
        <activity android:name=".otp" />
        <activity android:name=".mobile" />
        <activity android:name=".Map" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>